body {
    font-family: 'Raleway', sans-serif;
}
.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.section img {
    margin: 40px 40px 40px 40px;
    max-width: 50%;
}
.section a {
    text-align: center;
}
h1 {
    margin: 20px 40px 40px 40px;
    vertical-align: middle;
    font-size: 26px
}
h4 {
    color: #6e6b6b;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 22px

}
a.clink:link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
a.clink:visited {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
a.clink:hover {
    color: rgb(136, 136, 136);
    text-decoration: none;
    font-weight: bold;
}
a.clink:active {
    color: rgb(136, 136, 136);
    text-decoration: none;
    font-weight: bold;
}

